Repository esensar/neovim-java, changes with the labels that .github/labeler.yml gives for each.
All labels: api-explorer, core-rpc, neovim-api, tests

.github/labeler.yml:

api-explorer:
  - api-explorer/**/*

core-rpc:
  - core-rpc/**/*

neovim-api:
  - neovim-api/**/*
  - neovim-rx-api/**/*
  - neovim-notifications/**/*
  - handler-annotations/**/*

tests:
  - "**/src/test/**/*"
  - testing-helpers/**/*

Add simplified atomic call support
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimStreamApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/atomic/AtomicCallBuilder.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/atomic/AtomicCallBuilderCompletableFuture.java
  neovim-api/src/test/java/com/ensarsarajcic/neovim/java/api/AtomicCallBuilderTest.java
  neovim-api/src/test/java/com/ensarsarajcic/neovim/java/api/NeovimStreamApiTest.java
  neovim-rx-api/src/main/java/com/ensarsarajcic/neovim/java/rxapi/NeovimRxApi.java
  neovim-rx-api/src/main/java/com/ensarsarajcic/neovim/java/rxapi/NeovimRxWrapper.java
  neovim-rx-api/src/main/java/module-info.java
  neovim-rx-api/src/test/java/com/ensarsarajcic/neovim/java/rxapi/NeovimRxWrapperTest.java
Labels: neovim-api, tests

Add support for atomic call (#66)
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/AtomicCallBuilder.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimStreamApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/atomic/AtomicCallError.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/atomic/AtomicCallResponse.java
  neovim-api/src/main/java/module-info.java
  neovim-api/src/test/java/com/ensarsarajcic/neovim/java/api/AtomicCallBuilderTest.java
  neovim-api/src/test/java/com/ensarsarajcic/neovim/java/api/NeovimStreamApiTest.java
  neovim-rx-api/src/main/java/com/ensarsarajcic/neovim/java/rxapi/NeovimRxApi.java
  neovim-rx-api/src/main/java/com/ensarsarajcic/neovim/java/rxapi/NeovimRxWrapper.java
  neovim-rx-api/src/main/java/module-info.java
  neovim-rx-api/src/test/java/com/ensarsarajcic/neovim/java/rxapi/NeovimRxWrapperTest.java
Labels: neovim-api, tests

Create issue template config
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

Delete question issue template
  .github/ISSUE_TEMPLATE/question.md
Labels: none

Fix issue with UIEvent deserialization
  api-explorer/pom.xml
  core-rpc/pom.xml
  handler-annotations/pom.xml
  neovim-api/pom.xml
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimApis.java
  neovim-notifications/pom.xml
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/NeovimStreamNotificationHandler.java
  neovim-rx-api/pom.xml
  pom.xml
  reactive-core-rpc/pom.xml
  rplugin-example/pom.xml
  testing-helpers/pom.xml
  unix-socket-connection/pom.xml
Labels: api-explorer, core-rpc, neovim-api, tests

Add more factory methods to NeovimApis
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimApis.java
Labels: neovim-api

Use org.reflections instead of custom reflection utils
  neovim-notifications/pom.xml
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/NotificationCreatorCollector.java
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/util/ReflectionUtils.java
  neovim-notifications/src/main/java/module-info.java
  pom.xml
Labels: neovim-api

Fix checkstyle issues
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/NotificationCreatorCollector.java
Labels: neovim-api

Add missing DefaultColorsSetEvent and handle missing events gracefully
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/NeovimStreamNotificationHandler.java
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/ui/UnsupportedEvent.java
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/ui/grid/DefaultColorsSetEvent.java
Labels: neovim-api

Add missing NAME field to UnsupportedEvent
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/ui/UnsupportedEvent.java
Labels: neovim-api

Fix CREATOR for TablineUpdateEvent
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/ui/tabline/TablineUpdateEvent.java
Labels: neovim-api

Fix ModeInfo and TablineUpdateEvent
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/ui/global/ModeInfo.java
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/ui/tabline/TablineUpdateEvent.java
Labels: neovim-api

Version 0.2.1 release
  .buildscript/deploy.sh
  api-explorer/pom.xml
  core-rpc/pom.xml
  handler-annotations/pom.xml
  neovim-api/pom.xml
  neovim-notifications/pom.xml
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/ui/global/FlushEvent.java
  neovim-rx-api/pom.xml
  pom.xml
  reactive-core-rpc/pom.xml
  rplugin-example/pom.xml
  testing-helpers/pom.xml
  unix-socket-connection/pom.xml
Labels: api-explorer, core-rpc, neovim-api, tests

Add missing UiOptions
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/UiOptions.java
Labels: neovim-api

Fix checkstyle issues
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/UiOptions.java
Labels: neovim-api

Add missing UiOptions (#120)
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/UiOptions.java
Labels: neovim-api

Version 0.2.2 release
  api-explorer/pom.xml
  core-rpc/pom.xml
  handler-annotations/pom.xml
  neovim-api/pom.xml
  neovim-notifications/pom.xml
  neovim-rx-api/pom.xml
  pom.xml
  reactive-core-rpc/pom.xml
  rplugin-example/pom.xml
  testing-helpers/pom.xml
  unix-socket-connection/pom.xml
Labels: api-explorer, core-rpc, neovim-api, tests

Remove duplicate checkstyle plugin
  pom.xml
Labels: none

Fix serialization issues for MultiGrid events
  api-explorer/src/main/java/com/ensarsarajcic/neovim/java/explorer/api/ConnectionHolder.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/msgpack/NeovimJacksonModule.java
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/NotificationCreatorCollector.java
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/ui/global/OptionSetEvent.java
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/ui/grid/linegrid/CellData.java
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/ui/multigrid/WinExternalPositionEvent.java
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/ui/multigrid/WinFloatingPositionEvent.java
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/ui/multigrid/WinPositionEvent.java
  neovim-notifications/src/main/java/module-info.java
Labels: api-explorer, neovim-api

Version 0.2.3 release
  api-explorer/pom.xml
  core-rpc/pom.xml
  handler-annotations/pom.xml
  neovim-api/pom.xml
  neovim-notifications/pom.xml
  neovim-rx-api/pom.xml
  pom.xml
  reactive-core-rpc/pom.xml
  rplugin-example/pom.xml
  testing-helpers/pom.xml
  unix-socket-connection/pom.xml
Labels: api-explorer, core-rpc, neovim-api, tests

Generate gradle build files
  .gitignore
  api-explorer/build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/groovy/com.ensarsarajcic.neovim.java.java-conventions.gradle
  core-rpc/build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  handler-annotations/build.gradle
  neovim-api/build.gradle
  neovim-notifications/build.gradle
  neovim-rx-api/build.gradle
  reactive-core-rpc/build.gradle
  rplugin-example/build.gradle
  settings.gradle
  testing-helpers/build.gradle
  unix-socket-connection/build.gradle
Labels: api-explorer, core-rpc, neovim-api, tests

Remove old pom.xml files
  api-explorer/pom.xml
  core-rpc/pom.xml
  handler-annotations/pom.xml
  neovim-api/pom.xml
  neovim-notifications/pom.xml
  neovim-rx-api/pom.xml
  pom.xml
  reactive-core-rpc/pom.xml
  rplugin-example/pom.xml
  testing-helpers/pom.xml
  unix-socket-connection/pom.xml
Labels: api-explorer, core-rpc, neovim-api, tests

Add changelog
  CHANGELOG.md
Labels: none

Update github workflows to work with main branch
  .github/workflows/maven-publish-release.yml
  .github/workflows/maven-publish-snapshot.yml
  .github/workflows/maven.yml
  .github/workflows/tests.yml
Labels: none

Update repository urls for snapshots and releases
  pom.xml
Labels: none

Move to maven wrapper
  .github/workflows/maven-publish-release.yml
  .github/workflows/maven-publish-snapshot.yml
  .github/workflows/maven.yml
  .github/workflows/tests.yml
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: none

Add contributing guidelines
  CONTRIBUTING.md
  LICENSE
  README.md
Labels: none

Update to version 0.3.0
  api-explorer/pom.xml
  core-rpc/pom.xml
  handler-annotations/pom.xml
  neovim-api/pom.xml
  neovim-notifications/pom.xml
  neovim-rx-api/pom.xml
  pom.xml
  reactive-core-rpc/pom.xml
  rplugin-example/pom.xml
  testing-helpers/pom.xml
  unix-socket-connection/pom.xml
Labels: api-explorer, core-rpc, neovim-api, tests

Update to JDK 17
  pom.xml
Labels: none

Update dependency and plugin versions
  pom.xml
Labels: none

Fix bad module configuration
  api-explorer/src/main/java/module-info.java
  core-rpc/src/main/java/module-info.java
  handler-annotations/src/main/java/module-info.java
  neovim-api/src/main/java/module-info.java
  neovim-notifications/src/main/java/module-info.java
  pom.xml
  reactive-core-rpc/src/main/java/module-info.java
  unix-socket-connection/src/main/java/module-info.java
Labels: api-explorer, core-rpc, neovim-api

Update JDK version for GH actions
  .github/workflows/maven-publish-release.yml
  .github/workflows/maven-publish-snapshot.yml
  .github/workflows/maven.yml
  .github/workflows/tests.yml
Labels: none

Fix typo in github workflows
  .github/workflows/maven-publish-snapshot.yml
  .github/workflows/maven.yml
Labels: none

Add executable picker to api explorer
  api-explorer/src/main/java/com/ensarsarajcic/neovim/java/explorer/ConnectionPickerController.java
  api-explorer/src/main/java/com/ensarsarajcic/neovim/java/explorer/api/ConnectionHolder.java
  api-explorer/src/main/java/com/ensarsarajcic/neovim/java/explorer/api/discovery/ApiDiscovery.java
  api-explorer/src/main/java/com/ensarsarajcic/neovim/java/explorer/list/ApiListController.java
  api-explorer/src/main/resources/connection-picker.fxml
Labels: api-explorer

Add simple scripts for generating new functions text
  scripts/deploy.sh
  scripts/generate-new-functions-text
  scripts/generate-new-uievents-text
Labels: none

Fix input field for neovim executable in api explorer
  api-explorer/src/main/java/com/ensarsarajcic/neovim/java/explorer/ConnectionPickerController.java
Labels: api-explorer

Fix checkstyle issues
  api-explorer/src/main/java/com/ensarsarajcic/neovim/java/explorer/ConnectionPickerController.java
Labels: api-explorer

Add missing global error event
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/NeovimNotificationHandler.java
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/NeovimStreamNotificationHandler.java
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/NotificationCreatorCollector.java
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/global/ErrorEvent.java
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/global/GlobalEvent.java
  neovim-notifications/src/main/java/module-info.java
Labels: neovim-api

Update changelog with pending 0.3.0 changes
  CHANGELOG.md
Labels: none

Skip deploy for rplugin-example and testing-helpers
  rplugin-example/pom.xml
  testing-helpers/pom.xml
Labels: tests
