Repository esensar/neovim-java, changes with the labels that .github/labeler.yml gives for each.
All labels: api-explorer, core-rpc, neovim-api, tests

.github/labeler.yml:

api-explorer:
  - api-explorer/**/*

core-rpc:
  - core-rpc/**/*

neovim-api:
  - neovim-api/**/*
  - neovim-rx-api/**/*
  - neovim-notifications/**/*
  - handler-annotations/**/*

tests:
  - "**/src/test/**/*"
  - testing-helpers/**/*

Update module names to proper unique names
  CHANGELOG.md
  api-explorer/src/main/java/module-info.java
  core-rpc/src/main/java/module-info.java
  handler-annotations/src/main/java/module-info.java
  neovim-api/src/main/java/module-info.java
  neovim-notifications/src/main/java/module-info.java
  neovim-rx-api/src/main/java/module-info.java
  pom.xml
  reactive-core-rpc/src/main/java/module-info.java
  testing-helpers/src/main/java/module-info.java
  unix-socket-connection/src/main/java/module-info.java
Labels: api-explorer, core-rpc, neovim-api, tests

Fix deploy.sh script
  scripts/deploy.sh
Labels: none

Fix maven-publish-release workflow
  .github/workflows/maven-publish-release.yml
Labels: none

Enable workflow dispatch for maven publish release
  .github/workflows/maven-publish-release.yml
  CHANGELOG.md
Labels: none

Disable github packages release for release versions
  .github/workflows/maven-publish-release.yml
Labels: none

Fix gpg key import in maven release workflow
  .github/workflows/maven-publish-release.yml
Labels: none

Skip verify when deploying
  .github/workflows/maven-publish-release.yml
  scripts/deploy.sh
Labels: none

[maven-release-plugin] prepare release parent-0.3.0
  api-explorer/pom.xml
  core-rpc/pom.xml
  handler-annotations/pom.xml
  neovim-api/pom.xml
  neovim-notifications/pom.xml
  neovim-rx-api/pom.xml
  pom.xml
  reactive-core-rpc/pom.xml
  rplugin-example/pom.xml
  testing-helpers/pom.xml
  unix-socket-connection/pom.xml
Labels: api-explorer, core-rpc, neovim-api, tests

Disable useIncrementalCompilation to fix release signatures
  .github/workflows/maven-publish-release.yml
  pom.xml
  scripts/deploy.sh
Labels: none

Update working version to 0.4.0
  api-explorer/pom.xml
  core-rpc/pom.xml
  handler-annotations/pom.xml
  neovim-api/pom.xml
  neovim-notifications/pom.xml
  neovim-rx-api/pom.xml
  pom.xml
  reactive-core-rpc/pom.xml
  rplugin-example/pom.xml
  testing-helpers/pom.xml
  unix-socket-connection/pom.xml
Labels: api-explorer, core-rpc, neovim-api, tests

Add new UI events of neovim API v7
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/ui/global/ScreenshotEvent.java
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/ui/multigrid/WinViewportEvent.java
Labels: neovim-api

Fix checkstyle issues
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/ui/global/ScreenshotEvent.java
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/ui/multigrid/WinViewportEvent.java
  pom.xml
Labels: neovim-api

Add new UI events of neovim API v7 (#131)
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/ui/global/ScreenshotEvent.java
  neovim-notifications/src/main/java/com/ensarsarajcic/neovim/java/notifications/ui/multigrid/WinViewportEvent.java
  pom.xml
Labels: neovim-api

Add new function of neovim API v7
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimStreamApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/buffer/BufferStreamApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/buffer/NeovimBufferApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/ChunkInfo.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/DeleteBufferOptions.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/ExtmarkInfo.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/GetBufferExtmarkOptions.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/GetBufferExtmarksOptions.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/OptionInfo.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/window/NeovimWindowApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/window/WindowStreamApi.java
Labels: neovim-api

Update changelog
  CHANGELOG.md
Labels: none

Fix checkstyle issues
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimApi.java
Labels: neovim-api

Update changelog
  CHANGELOG.md
Labels: none

Neovim API v7 functions (#132)
  CHANGELOG.md
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimStreamApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/buffer/BufferStreamApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/buffer/NeovimBufferApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/ChunkInfo.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/DeleteBufferOptions.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/ExtmarkInfo.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/GetBufferExtmarkOptions.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/GetBufferExtmarksOptions.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/OptionInfo.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/window/NeovimWindowApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/window/WindowStreamApi.java
Labels: neovim-api

Add new function of neovim v8 API
  CHANGELOG.md
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimStreamApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/buffer/BufferStreamApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/buffer/NeovimBufferApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/tabpage/TabpageStreamApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/EvalStatuslineOptions.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/EvalStatuslineResult.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/MarkInfo.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/window/WindowStreamApi.java
Labels: neovim-api

Add new function of neovim v8 API (#133)
  CHANGELOG.md
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimStreamApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/buffer/BufferStreamApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/buffer/NeovimBufferApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/tabpage/TabpageStreamApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/EvalStatuslineOptions.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/EvalStatuslineResult.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/types/api/MarkInfo.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/window/WindowStreamApi.java
Labels: neovim-api

Add new neovim API v9 functions
  CHANGELOG.md
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimStreamApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/buffer/BufferStreamApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/buffer/NeovimBufferApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/tabpage/TabpageStreamApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/window/WindowStreamApi.java
Labels: neovim-api

Add new neovim API v9 functions (#134)
  CHANGELOG.md
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/NeovimStreamApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/buffer/BufferStreamApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/buffer/NeovimBufferApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/tabpage/TabpageStreamApi.java
  neovim-api/src/main/java/com/ensarsarajcic/neovim/java/api/window/WindowStreamApi.java
Labels: neovim-api

Update changelog for 0.4.0 release
  .github/workflows/maven-publish-release.yml
  CHANGELOG.md
Labels: none

Fix maven release workflow per setup-java docs
  .github/workflows/maven-publish-release.yml
Labels: none

Add basic plugin-host module for easier plugin authoring
  .gitignore
  plugin-host/pom.xml
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/NeovimJavaPluginHost.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/PluginApi.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/annotations/Autocommand.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/annotations/HostedPlugin.java
  plugin-host/src/main/java/module-info.java
  pom.xml
  rplugin-example/plugin/neovim-java-rplugin-example.vim
  rplugin-example/pom.xml
  rplugin-example/src/main/java/com/ensarsarajcic/neovim/java/rpluginex/RPluginExample.java
Labels: none

Add hosted plugin concept to share multiple plugins in single executable
  handler-annotations/src/main/java/module-info.java
  plugin-host/pom.xml
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/NeovimJavaPluginHost.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/PluginApi.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/RemotePluginManager.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/annotations/Autocommand.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/annotations/HostedPlugin.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/annotations/NeovimAutocommand.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/annotations/NeovimCommand.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/annotations/NeovimJavaHostedPlugin.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/opts/AutocommandOpts.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/opts/CommandOpts.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/state/AutocommandState.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/state/CommandState.java
  plugin-host/src/main/java/module-info.java
  rplugin-example/pom.xml
  rplugin-example/src/main/java/com/ensarsarajcic/neovim/java/rpluginex/RPluginExample.java
  rplugin-example/src/main/java/module-info.java
Labels: neovim-api

Add license headers to pluginhost classes
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/NeovimJavaPluginHost.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/PluginApi.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/RemotePluginManager.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/annotations/NeovimAutocommand.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/annotations/NeovimCommand.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/annotations/NeovimJavaHostedPlugin.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/opts/AutocommandOpts.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/opts/CommandOpts.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/state/AutocommandState.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/state/CommandState.java
Labels: none

Automatically register NeovimHostedPlugin to handler manager
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/RemotePluginManager.java
Labels: none

Add hooks to hosted plugins
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/NeovimJavaPluginHost.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/RemotePluginManager.java
Labels: none

Add more example to RPluginExample
  handler-annotations/src/main/java/com/ensarsarajcic/neovim/java/handler/NeovimHandlerManager.java
  handler-annotations/src/main/java/com/ensarsarajcic/neovim/java/handler/annotations/NeovimNotificationHandler.java
  handler-annotations/src/main/java/com/ensarsarajcic/neovim/java/handler/annotations/NeovimRequestHandler.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/PluginApi.java
  rplugin-example/src/main/java/com/ensarsarajcic/neovim/java/rpluginex/RPluginExample.java
  rplugin-example/src/main/java/module-info.java
Labels: neovim-api

Add plugins common host
  README.md
  plugin-host/README.md
  plugins-common-host/README.md
  plugins-common-host/pom.xml
  plugins-common-host/src/main/java/com/ensarsarajcic/neovim/java/commonhost/CommonPluginHost.java
  plugins-common-host/src/main/java/module-info.java
  pom.xml
  rplugin-hosted-example/README.md
  rplugin-hosted-example/pom.xml
  rplugin-hosted-example/src/main/java/com/ensarsarajcic/neovim/java/rpluginehostedx/RPluginHostedExample.java
  rplugin-hosted-example/src/main/java/module-info.java
Labels: none

Add logging to common host
  CHANGELOG.md
  plugins-common-host/pom.xml
Labels: none

Update version to 0.4.1
  api-explorer/pom.xml
  core-rpc/pom.xml
  handler-annotations/pom.xml
  neovim-api/pom.xml
  neovim-notifications/pom.xml
  neovim-rx-api/pom.xml
  plugin-host/pom.xml
  plugins-common-host/pom.xml
  pom.xml
  reactive-core-rpc/pom.xml
  rplugin-example/pom.xml
  rplugin-hosted-example/pom.xml
  testing-helpers/pom.xml
  unix-socket-connection/pom.xml
Labels: api-explorer, core-rpc, neovim-api, tests

Update changelog for 0.4.1 release
  CHANGELOG.md
Labels: none

Add plugin host info to readme
  README.md
Labels: none

Fix readme for plugin-host
  plugin-host/README.md
Labels: none

Set working version to 0.4.2
  api-explorer/pom.xml
  core-rpc/pom.xml
  handler-annotations/pom.xml
  neovim-api/pom.xml
  neovim-notifications/pom.xml
  neovim-rx-api/pom.xml
  plugin-host/pom.xml
  plugins-common-host/pom.xml
  pom.xml
  reactive-core-rpc/pom.xml
  rplugin-example/pom.xml
  rplugin-hosted-example/pom.xml
  testing-helpers/pom.xml
  unix-socket-connection/pom.xml
Labels: api-explorer, core-rpc, neovim-api, tests

Fix skipped deployment for plugins-common-host
  plugins-common-host/pom.xml
Labels: none

Remove shade plugin from plugins-common-host for deployment
  plugins-common-host/pom.xml
Labels: none

Add autocommands for prepare and ready hooks
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/NeovimJavaPluginHost.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/RemotePluginManager.java
Labels: none
