Repository esensar/neovim-java, changes with the labels that .github/labeler.yml gives for each.
All labels: api-explorer, core-rpc, neovim-api, tests

Use fully qualified method name by default for handlers
  CHANGELOG.md
  handler-annotations/src/main/java/com/ensarsarajcic/neovim/java/handler/NeovimHandlerManager.java
  handler-annotations/src/main/java/com/ensarsarajcic/neovim/java/handler/annotations/NeovimNotificationHandler.java
  handler-annotations/src/main/java/com/ensarsarajcic/neovim/java/handler/annotations/NeovimRequestHandler.java
  handler-annotations/src/main/java/com/ensarsarajcic/neovim/java/handler/annotations/NeovimRequestListener.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/RemotePluginManager.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/annotations/NeovimAutocommand.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/annotations/NeovimCommand.java
Labels: neovim-api

Add automatic mapping support for commands and autocommands
  CHANGELOG.md
  handler-annotations/src/main/java/com/ensarsarajcic/neovim/java/handler/NeovimHandlerManager.java
  handler-annotations/src/main/java/com/ensarsarajcic/neovim/java/handler/util/ReflectionUtils.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/RemotePluginManager.java
Labels: neovim-api

Add custom mapper for NeovimHandlerManager
  CHANGELOG.md
  handler-annotations/src/main/java/com/ensarsarajcic/neovim/java/handler/NeovimHandlerManager.java
  handler-annotations/src/main/java/com/ensarsarajcic/neovim/java/handler/annotations/NeovimNotificationHandler.java
  handler-annotations/src/main/java/com/ensarsarajcic/neovim/java/handler/annotations/NeovimRequestHandler.java
  handler-annotations/src/main/java/com/ensarsarajcic/neovim/java/handler/annotations/NeovimRequestListener.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/NeovimJavaPluginHost.java
Labels: neovim-api

Update changelog for 0.4.2 release
  CHANGELOG.md
Labels: none

Fix error handling in request handlers to prevent blocking nvim
  CHANGELOG.md
  api-explorer/pom.xml
  core-rpc/pom.xml
  handler-annotations/pom.xml
  handler-annotations/src/main/java/com/ensarsarajcic/neovim/java/handler/NeovimHandlerManager.java
  neovim-api/pom.xml
  neovim-notifications/pom.xml
  neovim-rx-api/pom.xml
  plugin-host/pom.xml
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/RemotePluginManager.java
  plugins-common-host/pom.xml
  pom.xml
  reactive-core-rpc/pom.xml
  rplugin-example/pom.xml
  rplugin-hosted-example/pom.xml
  testing-helpers/pom.xml
  unix-socket-connection/pom.xml
Labels: api-explorer, core-rpc, neovim-api, tests

Prevent exceptions when mapping messages
  CHANGELOG.md
  api-explorer/pom.xml
  core-rpc/pom.xml
  handler-annotations/pom.xml
  neovim-api/pom.xml
  neovim-notifications/pom.xml
  neovim-rx-api/pom.xml
  plugin-host/pom.xml
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/NeovimJavaPluginHost.java
  plugins-common-host/pom.xml
  pom.xml
  reactive-core-rpc/pom.xml
  rplugin-example/pom.xml
  rplugin-hosted-example/pom.xml
  testing-helpers/pom.xml
  unix-socket-connection/pom.xml
Labels: api-explorer, core-rpc, neovim-api, tests

Expose clients from NeovimJavaPluginHost
  CHANGELOG.md
  api-explorer/pom.xml
  core-rpc/pom.xml
  handler-annotations/pom.xml
  neovim-api/pom.xml
  neovim-notifications/pom.xml
  neovim-rx-api/pom.xml
  plugin-host/pom.xml
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/NeovimJavaPluginHost.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/RemotePluginManager.java
  plugins-common-host/pom.xml
  pom.xml
  reactive-core-rpc/pom.xml
  rplugin-example/pom.xml
  rplugin-hosted-example/pom.xml
  testing-helpers/pom.xml
  unix-socket-connection/pom.xml
Labels: api-explorer, core-rpc, neovim-api, tests

Fix checkstyle issues
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/RemotePluginManager.java
Labels: none

Update changelog for 0.4.5 release
  CHANGELOG.md
  api-explorer/pom.xml
  core-rpc/pom.xml
  handler-annotations/pom.xml
  neovim-api/pom.xml
  neovim-notifications/pom.xml
  neovim-rx-api/pom.xml
  plugin-host/pom.xml
  plugins-common-host/pom.xml
  pom.xml
  reactive-core-rpc/pom.xml
  rplugin-example/pom.xml
  rplugin-hosted-example/pom.xml
  testing-helpers/pom.xml
  unix-socket-connection/pom.xml
Labels: api-explorer, core-rpc, neovim-api, tests

Use correct object mapper for plugin host
  CHANGELOG.md
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/NeovimJavaPluginHost.java
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/RemotePluginManager.java
Labels: none

Remove unused import from RemotePluginManager
  plugin-host/src/main/java/com/ensarsarajcic/neovim/java/pluginhost/RemotePluginManager.java
Labels: none

.github/labeler.yml:

api-explorer:
  - api-explorer/**/*

core-rpc:
  - core-rpc/**/*

neovim-api:
  - neovim-api/**/*
  - neovim-rx-api/**/*
  - neovim-notifications/**/*
  - handler-annotations/**/*

tests:
  - "**/src/test/**/*"
  - testing-helpers/**/*
